* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background: #fdb856;
    background: linear-gradient(255deg, rgba(253, 184, 86, 1) 0, rgba(255, 248, 114, 1) 23%, rgba(65, 221, 253, 1) 100%);
}

.carousel {
    margin-bottom: 5%;
}

.btn-grad {
    margin: 10px;
    padding: 10px;
    transition: 0.5s;
    background-size: 200% auto;
    border-radius: 10px;
    display: block;
}

.carousel-btn:hover .btn-grad {
    background-position: right center;
    box-shadow: 0 0 20px #eee;
    background-image: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    color: #fff;
    text-decoration: none;
}

.gradient-border {
    --borderWidth: 15px;
    background: #1D1F20;
    position: relative;
}

.gradient-border:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    /* left: calc(-1 * var(--borderWidth)); */
    height: calc(100% + var(--borderWidth) * 2);
    width: 100%;
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    z-index: -1;
    -webkit-animation: animatedgradient 3s ease alternate infinite;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
}

@-webkit-keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container1 {
    font-size: 13px;
    margin: 2% 4%;
    border-radius: 2rem;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 1);
    width: auto;
    text-align: center;
    /* background-color: #db6400; */
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    transition: .5 ease;
    display: flex;
    padding: 0;
    flex-direction: column;
}

.category-image {
    width: 70%;
    margin: 5% 2%;
}

.productHeading {
    color: yellow;
    font-size: 16px;
    margin-bottom: 5%;
}

.description-div {
    margin-top: auto;
    margin-bottom: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 5%;
    filter: brightness(150%);
}

.heading-div {
    margin-bottom: 0;
    margin-top: auto;
}

.image-div {
    margin: auto;
}

.timer-item {
    display: inline-block;
    font-size: 1rem;
    margin: 0 2%;
    list-style-type: none;
    text-transform: uppercase;
}

.timer-item span {
    display: block;
    font-size: 1.5rem;
}

.bottom-div {
    background-color: #f6830f;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    height: 20%;
}

.timer {
    margin-bottom: 0;
    margin-top: 0;
    padding: 5%;
    color: black;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

.buttons {
    display: none;
    justify-content: center;
    margin-bottom: 0;
    padding: 2%;
    margin-top: auto;
    background-color: #f6830f;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

.hidden-btn {
    transition: 0.5s ease;
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 2%;
    padding: 5% 10%;
}

.hidden-btn:hover, .hidden-btn:focus {
    border-color: #8bcdcd;
    color: #fff;
}

.hidden-btn:hover {
    box-shadow: inset 0 0 0 2.5em #0278ae;
}

.eachSection {
    width: 100%;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .btn-grad {
        background-size: 200% auto;
        border-radius: 10px;
        display: block;
        color: black;
    }
    .eachSection {
        justify-content: center;
    }
    .container1 {
        margin-top: 20%;
        margin-left: 10%;
        max-width: 90%;
    }
    .buttons {
        display: flex;
        border-bottom-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
    }
    .timer, .bottom-div {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}

@media only screen and (min-width: 575px) and (max-width: 768px) {
    .container1 {
        margin: 3%;
    }
}